# .env file (Sensitive environment variables)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules (do not commit node_modules)
node_modules/

# Build output folder (do not commit build artifacts)
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*